.section--artists {
  position: relative;
  top: 4.611111111rem;
  margin-top: $m-gutter;
}

.artist {
  position: relative;
  margin-top: $m-gutter * 1.5;

  &__name {
    display: block;
    margin: 0;
    font-family: 'Visy-Bold', sans-serif;
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 0 0 -1rem;
    overflow-x: scroll;

    &__item {
      min-width: calc(100% / 2.25 - 1rem - 1rem);
      margin: $m-gutter;
      background: $c-charcoal;

      > img,
      > iframe {
        min-width: 100%;
        max-width: calc(100vw - 1rem - 1rem);
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}


@media screen and (max-width: 1000px) {
  .artist__row__item {
    min-width: calc(100% / 1.75 - 1rem - 1rem);
  }
}

@media screen and (max-width: 650px) {
  .artist__row__item {
    min-width: calc(100% / 1.25 - 0.5rem - 0.5rem);
    margin: $m-gutter / 2;
  }
}
