.hero {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: $m-gutter;

  > * {
    position: relative;
    max-width: 49.5rem;
    z-index: 3;
  }

  > h1 {
    @include f-lg;
    margin: 1rem 0;
    font-style: italic;
    font-weight: bolder;
  }

  > h2 {
    @include f-reg;
    margin: 1rem 0;
  }
}

.fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16 / 9) {
  .fullscreen-bg__video {
    top: -100%;
    height: 300%;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  .fullscreen-bg__video {
    left: -100%;
    width: 300%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
