body {
  margin: 0;
  background: $c-sand;
  color: $c-charcoal;
  font-family: 'Visby-Heavy', sans-serif;
  font-size: 18px;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
