// Colors
$c-white: #fff;
$c-black: #000;
$c-charcoal: #262626;
$c-grey: #848484;
$c-sand: #efeeea;
$t-sand: rgba(238, 232, 209, 0.5);
// $t-sand: rgba(238, 237, 234, 0.75);


// Measurements
$m-gutter: 1rem;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'layout';
@import 'sections';
@import 'top-nav';
@import 'hero';
@import 'artist';
@import 'videos';

.logo {
  max-width: 7rem;
}
